@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  background-color: #030712;
  color: #f8fafc;
}
